header {
  position: sticky;
  top: 0px;
  z-index: 1;
  display: block;
}

.nav {
  height: 60px;
  padding-top: 20px;
  margin-bottom: 20px;
  transition: all 0.3s;
}
.nav2 {
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(79, 79, 79, 0.95));
  transition: all 0.3s;
}

.nav img {
  width: 60px;
  height: auto;
}

.menuIcon {
  display: none;
  cursor: pointer;
}

.dropdownMenu {
  display: flex;
}

ul .links {
  color: azure;
  transition: all 0.3s;
  position: relative;
  cursor: pointer;
}

ul .links:hover {
  color: #c28325 !important;
}

ul .favorites:hover {
  color: #c28325;
  transition: all 0.3s;
}
ul .favorites {
  color: #fbb44c;
  transition: all 0.3s;
}

.links .arrowDown {
  width: 13px;
  top: 22px;
  position: absolute;
  margin-left: 3px;
}

.links .dropMenu {
  width: 170px;
  height: 145px;
  background: linear-gradient(rgba(197, 189, 189, 0.9), rgb(103, 101, 101));
  position: absolute;
  top: 55px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .nav img {
    height: 45px;
  }

  .dropdownMenu {
    display: none;
  }

  .menuIcon {
    display: block;
  }

  .menuIconContainer {
    position: relative;
  }

  .displayMobileMenu {
    display: block;
    width: 100%;

    position: fixed;
    top: 77px;
    left: 0;

    background-color: var(--bg-dark);
  }
}
