/* Adaugam variabile globale: */
:root {
  --text-primary: #0551cc;
  --text-secondary: #fbb44c;
  --text-dark: #2b2922;
  --text-light: #eaeaea;

  --bg-primary: #ffcb3e;
  --bg-secondary: #dfedf5;
  --bg-dark: #424110;
}

/* Resetam proprietati default: */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
  color: #101d42;
}

/* Customizam Bootstrap: */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #2bb686;
  border-color: #2bb686;
}

.bg-danger {
  background-color: rgba(212, 30, 30, 0.4) !important;
}
.bg-danger:hover {
  background-color: rgb(212, 30, 30) !important;
}

.bg-primary {
  background-color: rgb(190, 184, 184) !important;
}

.text-primary {
  color: #5772bd !important;
}

.text-secondary {
  color: #fbb44c !important;
}

.text-light {
  color: #eaeaea !important;
}

.text-dark {
  color: #c4c2be !important;
}

.bg-primary {
  background-color: #024dc7 !important;
}

.bg-secondary {
  background-color: #6e7479 !important;
}

.bg-dark {
  background-color: #f5f5f5 !important;
}

h1,
h2,
h3 {
  font-weight: bold;
  color: var(--text-primary);
}

/* scroll to top */

.goTop {
  display: block;
  position: fixed;
  bottom: 10;
  right: 10;
  width: 100;
  height: 100;
  background-color: rgb(255, 115, 0);
}

.goTopHidden {
  display: none;
}
